<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="title">

  <title>
    Distributed Algorithms and Languages
  </title>

  <!-- Main styles -->
  <link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'rating/css/star-rating.css') }}" rel="stylesheet">

  <!-- Webfonts -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['PT+Sans:400,700,400italic,700italic', 'PT+Mono&subset=latin,cyrillic']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

  <!-- Favicons -->
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'imgs/fav.ico') }}">

</head>

<body class="index">

  <header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="./#" class="navbar-brand" alt="Less">
          <img src="{{ url_for('static', filename = 'imgs/christmas184.png') }}" width="40px">
        </a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">

          <li>
            <a href="features/">Homepage</a>

          </li>
          <li>
            <a href="#">submit your implementation</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">


          <li>
            <a href="about/">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>



  <div class="docs-header" id="content">
    <div class="container">
      <h1>Distributed Algorithms and Langugages Review</h1>
      <p>Introdution Paragraph</p>
    </div>
  </div>


  <div class="container docs-container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar hidden-print" role="complementary">
          <div id="navigation">

            <ul class="nav sidenav">


              <!-- {% for language in projects %}
              <li><a href="#{{ language }}">{{ language }}</a>
                <ul class="nav">
                  {% for algorithm in projects[language] %}
                  <li><a href="#{{language|replace(" ", "-")~"-"~algorithm|replace(" ", "-")}}">{{algorithm}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %} -->
              {% for language in projects %}
              <li><a href="#{{ language }}">{{ language }}</a>
                <ul class="nav">
                    {% for algorithm in projects[language] %}
                    {% for project in projects[language][algorithm] %}
                        <li><a href="#p{{ project.id~language|replace(" ", "_") }}">{{ project.title }}</a></li>
                    {% endfor %}
                    {% endfor %}
                </ul>
              </li>
              {% endfor %}



            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9" role="main">

        <div class="panel docs-content">



          {% for language in projects %}
          <div class="docs-section">
            <div class="page-header">
              <h1 class="docs-heading">{{ language|upper }}
                <span class="anchor-target" id="{{ language }}"></span>
                <a href="#{{ language }}" name="{{ language }}" class="anchor glyphicon glyphicon-link"></a>
              </h1>
            </div>
            <blockquote>
              <p>{{ language }} place holder.</p>
            </blockquote>


            {% for algorithm in projects[language] %}
            {% for project in projects[language][algorithm] %}
            <h2 class="docs-heading">{{ project.title }}
              <span class="anchor-target" id="p{{ project.id~language|replace(" ", "_") }}"></span>
              <!-- <a href="#{{language|replace(" ", "-")~"-"~algorithm|replace(" ", "-")}}" name="{{language|replace(" ", "-")~"-"~algorithm|replace(" ", "-")}}" class="anchor glyphicon glyphicon-link"></a> -->
              <a href="#p{{ project.id~language|replace(" ", "_") }}" name="p{{ project.id~language|replace(" ", "_") }}" class="anchor glyphicon glyphicon-link"></a>
            </h2>
            <div>
              <p>Author: <a href="{{ project.developer_home_page }}">{{ project.developer }}</a></p>
              <p>Homepage: <a href="{{ project.home_page  }}">{{ project.title }}</a></p>
              <p>Release Date: {{ project.release_date }}</p>
              <p>Lines Total: {{ project.lines_total }}</p>
              <p>Addtional Information: {{ project.additional_information }}</p>
              <p>Platform: {{ project.platforms }}</p>
              <a class="btn btn-primary" role="button" data-toggle="collapse" href="#{{ "p"~project.id~language|replace(" ", "_")~"-comments"}}" aria-expanded="false" aria-controls="collapseExample" onclick="getComments('{{language|replace(" ", "_")}}','{{project.id}}')">
                Comments
              </a>
              <div class="collapse" id="{{ "p"~project.id~language|replace(" ", "_")~"-comments"}}" aria-expanded="false">
                <div class="well" id="commentBox_p{{project.id~language|replace(" ", "_")}}">
                </div>
                <div class="well">

                    <form class="form-horizontal" action="submitComment/{{project.id}}" method="post">

                      <div class="form-group">
                        <div class="row">
                            <label for="inputEmail_p{{ project.id~language|replace(" ", "_") }}" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                              <input name="email" type="email" class="form-control" id="inputEmail_p{{ project.id~language|replace(" ", "_") }}" placeholder="Email">
                            </div>
                            <div class="col-sm-4">
                              <input name="point" id="rating_p{{ project.id~language|replace(" ", "_") }}" type="text" class="rating" data-size="xs" data-show-caption="false">
                            </div>
                        </div>
                      </div>



                      <div class="form-group">
                          <div class="row">
                            <label for="inputComment_p{{ project.id~language|replace(" ", "_") }}" class="col-sm-2 control-label">Comment</label>
                            <div class="col-sm-8">
                              <textarea name="content" class="form-control" rows="3" id="inputComment_p{{ project.id~language|replace(" ", "_") }}"></textarea>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                              <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                      </div>

                    </form>

                </div>
              </div>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
          {% endfor %}



        </div>
      </div>
    </div>
  </div>


  <footer class="footer" role="contentinfo">
    <div class="container">

      <p>place holder.</p>
      <ul class="footer-links">
        <li>links</li>

        <li class="muted">&#xB7;</li>
        <li>link1</li>
        <li class="muted">&#xB7;</li>
        <li>link1</li>
        <li class="muted">&#xB7;</li>
        <li>link1</li>

      </ul>
    </div>
  </footer> 



  <!-- Core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


  <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.2.0/holder.min.js"></script>
  <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>

  <script src="{{ url_for('static', filename = 'rating/js/star-rating.js') }}"></script>


  <script type="text/javascript">
    function getComments(lang, pid){
      var boxId = 'commentBox_p'.concat(pid).concat(lang)
      $.ajax({url: "API/comments/".concat(pid), success: function(result){
        result = JSON.parse(result)
        var html = ''
        for(var i = 0; i < result.length; i ++){
            var obj = result[i]
            var comment = '<div>' + obj['email'] + '<br/>' + obj['name'] + '<br/>' + obj['content'] + '<br/>' + obj['date'] + '<br/>' + obj['point'] + '</div>'
            html = html + comment
        }
        document.getElementById(boxId).innerHTML = html
      }});

    }
  </script>


</body>

</html>
