{% include "header.html" %}
  <div class="container" style="margin-top:80px;">
    <form class="form form-inline" role="form" action="/submit">

      <legend>Submit new project</legend>

      <div class="row" style="margin-top:5px;">
      <div class="form-group col-md-8 col-md-offset-3">
        <div class="col-md-8">
          <input type="text" name="title" class="form-control" id="title" placeholder="Project Title">
        </div>
      </div>
    </div>



<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Home Page:</label>
        <div class="col-md-6">
            <input type="text" name="homepage" class="form-control" id="homepage" placeholder="Homepage">
        </div>
    </div>
</div>

<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>

<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>

<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="form-group col-md-8 col-md-offset-3">
        <label class="col-md-2">Developer:</label>
        <div class="col-md-6">
            <input type="text" name="developer" class="form-control" id="developer">
        </div>
    </div>
</div>



    <div class="row" style="margin-top:5px;">
          <div class="form-group col-md-8 col-md-offset-3">
              <button type="submit" class="btn btn-default col-xs-8">Submit Button</button>
          </div>
      </div>

      </div>

    </form>
  </div>

{% include "footer.html" %}
